<form class="filters" (ngSubmit)="onApply()">
  <ng-container *ngFor="let f of fields">
    <mat-form-field class="field">
      <mat-label>{{f.label}}</mat-label>

      <input *ngIf="f.type==='text'" matInput [formControlName]="f.key" [placeholder]="f.placeholder || ''">

      <input *ngIf="f.type==='date'" matInput [formControlName]="f.key" placeholder="dd/mm/aaaa" type="date">

      <mat-select *ngIf="f.type==='select'" [formControlName]="f.key" [placeholder]="f.placeholder || ''">
        <mat-option [value]="null">—</mat-option>
        <mat-option *ngFor="let o of f.options" [value]="o.value">{{o.label}}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <span class="grow"></span>
  <app-button icon="filter_list" label="Aplicar" type="submit" flat="true"></app-button>
  <app-button icon="refresh" label="Limpar" (click)="onReset()" flat="true"></app-button>
</form>
