<form [formGroup]="form" class="filters">
  <ng-container *ngFor="let f of fields">
    <mat-form-field>
      <mat-label>{{ f.label }}</mat-label>

      <input *ngIf="f.type === 'text'" matInput [formControlName]="f.key" [placeholder]="f.placeholder || ''">

      <input *ngIf="f.type === 'date'" matInput [formControlName]="f.key" type="date">

      <mat-select *ngIf="f.type === 'select'" [formControlName]="f.key">
        <mat-option *ngFor="let o of f.options" [value]="o.value">
          {{ o.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <div class="actions">
    <button mat-button type="button" (click)="reset()">Limpar</button>
    <button mat-flat-button color="primary" type="button" (click)="apply()">Aplicar</button>
  </div>
</form>
